body {
  font-family: Roboto;
}

header {
  margin: auto;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.status {
  .line + .line {
    margin-top: .5em;
  }

  .type-metro + .type-metro, .type-rer + .type-rer, .type-tram + .type-tram {
    .symbole {
      visibility: hidden;
    }
  }

  .metro {
    vertical-align: middle;
  }

  .normal {
    color: #66d300;
  }

  .details {
    display: inline;
    margin-left: 1em;
  }

  .outage {
    color: #f54728;
  }
}
