body {
  font-family: Roboto;
  font-size: 12px;
  margin: 0;
}

header {
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 1px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f9f9f9;
}

.fa {
  display: inline;
}

.status {
  margin: 0;
  max-width: 90vw;
  // max-width: 1024px;
  padding: 1em;
  background-color: #ffffff;

  @media (min-width: 450px) {
    box-shadow: 0 2px 0.2em rgba(0, 0, 0, 0.2), 0 2px 0.2em rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
  }

  .line + .line {
    margin-top: .5em;
  }

  .line {
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }

  .type-metro + .type-metro, .type-rer + .type-rer, .type-tram + .type-tram {
    .symbole {
      visibility: hidden;
    }
  }

  .normal {
    color: $normal;
  }

  .icons {
    min-width: 4em;
    flex: 1;
    margin-right: 1em;

    i {
      width: 3em;
      height: 3em;
    }

    & + i {
      font-size: 1.5em;
    }
  }

  .details {
    padding-left: 1em;
    flex: 2;
    min-width: 250px;
    margin-right: 1em;
    font-size: 16px;
  }

  .outage {
    color: $outage;
  }
}

.stats {
  margin-left: 1em;
  width: 5.5em;

  .percentage {
    font-size: 20px;

    &:after {
      content: "%";
      float: right;
    }
  }
}
